services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql
    environment:
      SA_PASSWORD: "YourStrongPasswOrd123"
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Express"
    ports:
      - "1433:1433"
    volumes:
      - sql-data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -C -S localhost -U sa -P \"YourStrongPasswOrd123\" -Q \"SELECT 1" || exit 1"]
      interval: 10s
      retries: 20
      start_period: 30s
      timeout: 5s

  productservice:
    build:
      context: ./ProductService
      dockerfile: Dockerfile
    ports: 
      - "5003:8080"
    depends_on:
      sqlserver:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=ProductDB;User Id=sa;Password=YourStrongPasswOrd123;TrustServerCertificate=true
      - ASPNETCORE_URLS=http://+:8080

  orderservice:
    build:
      context: ./OrderService
      dockerfile: Dockerfile
    ports: 
      - "5002:8080"
    depends_on:
      sqlserver:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=OrderDB;User Id=sa;Password=YourStrongPasswOrd123;TrustServerCertificate=true
      - ASPNETCORE_URLS=http://+:8080

  apigateway:
    build:
      context: ./ApiGateway
      dockerfile: Dockerfile
    ports: 
      - "5000:8080"
    depends_on: 
      - productservice
      - orderservice
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080

volumes:
  sql-data: